Working

<table class="table ">
    <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Sales Volums</th>
            <th>Met Quota ?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let temp of salesPersonList" [ngClass] = "{'highlight' : temp.salesVolume >=6000}">
            <td>{{temp.firstName}}</td>
            <td>{{temp.lastName}}</td>
            <td>{{temp.email}}</td>
            <td>{{temp.salesVolume  | currency : 'USD'}}</td>
            
            <td>

                <div *ngIf ="temp.salesVolume >=6000; else demoBlock">Yes</div>
                <ng-template #demoBlock>No</ng-template>
                
            </td>

        </tr>
    </tbody>
</table>
